<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 Print Preview</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .row{
            display:flex;
            justify-content:flex-start;
            align-items:stretch;
            flex-wrap:nowrap;
            padding:10px;
        }
        .cell{
            min-height:30px;
            flex-grow:1;
            flex-basis:100%;
        }
        @media (max-width: 768px){
            .row{
                flex-wrap:wrap;
            }
        }
        table, th, td {
            border: 1px solid darkgray;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div class="card-body">
    <div class="table-editable" id="table">
        <div class="row">
            <div class="col text-right font-weight-bold">D3</div>
        </div>
        <div class="row">
            <div class="cell">For AICTE Diploma Courses</div>
            <div class="cell" style="margin-left: 40vw">wef - 2017-18</div>
        </div>
        <div class="row">
            <div class="col text-center font-weight-bold">Maharashtra State Board of Technical Education</div>
        </div>
        <div class="row">
            <div class="col text-center font-weight-bold">PROGRESSIVE ASSESSMENT OF PRACTICALS</div>
        </div>
        <div class="row" style="padding-top: 10vh">
            <div id="academicV" class="col is-left">Academic Year:</div>
        </div>
        <div class="row">
            <div id="programV" class="col">Program:</div>
            <div id="courseV" class="col">Course:</div>
            <div id="course_cV" class="col">Course Code:</div>
        </div>
        <div class="row" style="padding-bottom: 2vh">
            <div id="semesterV" class="col">Semester:</div>
            <div id="name_falV" class="col">Name of Faculty:</div>
        </div>
        <table class="text-center">
            <thead>
            <tr>
                <th rowspan="2" class="text-center align-middle">Sr. No</th>
                <th rowspan="2" class="text-center align-middle">Roll No</th>
                <th rowspan="2" class="text-center align-middle">Enrollment No</th>
                <th rowspan="2" class="text-center align-middle">Exam Seat No</th>
                <th rowspan="2" class="text-center align-middle">Name of Student</th>
                <th id="Pr_Col" class="text-center align-middle">Experiment / JOB / Assignment / Sheet / Activity of Project </th>
                <th rowspan="2" class="text-center align-middle">Total Marks out of (10 x No of Expt.)<br>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</th>
                <th rowspan="2" class="text-center align-middle">PA Marks of Practical Converted According to TE Scheme<br> (Max Marks- )</th>
            </tr>
            <tr id="Pr_Col_tr">
                <th class="text-center align-middle">Automatically Change After Creation of Format</th>
            </tr>
            </thead>
            <tbody id="et_d1_tbl_body">
            </tbody>
        </table>
        <div id="tbl_last" class="row" style="padding-top: 5vh">
            <div class="cell font-weight-bold" style="text-align: center">(Name &amp; Signature of Faculty)</div>
            <div class="cell font-weight-bold" style="text-align: center">(Name &amp; Signature of HOD)</div>
        </div>
    </div>
</div>
<script>

    // jquery
    $ = require('jquery');
    require('./pr_d3');
</script>
</body>
</html>