<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View / Edit D3</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../bower_components/font-awesome/css/all.min.css" rel="stylesheet">
</head>
<body>
<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editing D3</h3>
    <div class="card-body">
        <div class="table-editable" id="table">
            <div class="row">
                <div class="col text-center font-weight-bold">Maharashtra State Board of Technical Education</div>
            </div>
            <div class="row">
                <div class="col text-center font-weight-bold">PROGRESSIVE ASSESSMENT OF PRACTICALS</div>
            </div>
            <div class="row" style="padding-top: 10vh">
                <div id="academicV" class="col is-left">Academic Year:</div>
            </div>
            <div class="row">
                <div id="programV" class="col">Program:</div>
                <div id="courseV" class="col">Course:</div>
                <div id="course_cV" class="col">Course Code:</div>
            </div>
            <div class="row" style="padding-bottom: 2vh">
                <div id="semesterV" class="col">Semester:</div>
                <div id="name_falV" class="col">Name of Faculty:</div>
            </div>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                <tr>
                    <th rowspan="2" class="text-center align-middle">Sr. No</th>
                    <th rowspan="2" class="text-center align-middle">Roll No</th>
                    <th rowspan="2" class="text-center align-middle">Enrollment No</th>
                    <th rowspan="2" class="text-center align-middle">Exam Seat No</th>
                    <th rowspan="2" class="text-center align-middle">Name of Student</th>
                    <th id="Pr_Col" class="text-center align-middle">Experiment / JOB / Assignment / Sheet / Activity of Project </th>
                    <th rowspan="2" class="text-center align-middle">Total Marks out of (10 x No of Expt.)<br>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</th>
                    <th rowspan="2" class="text-center align-middle">PA Marks of Practical Converted According to TE Scheme<br> (Max Marks- )</th>
                </tr>
                <tr id="Pr_Col_tr">
                    <th class="text-center align-middle">Automatically Change After Creation of Format</th>
                </tr>
                </thead>
                <tbody id="et_d1_tbl_body">
                </tbody>
            </table>
            <span class="table-add float-right mb-3 mr-2" id="add_new_row">
                <a class="text-success" data-toggle="tooltip" title="Create New Row" href="#!">
                  <i aria-hidden="true" class="fas fa-plus fa-2x"></i>
                </a>
            </span>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="impFieldModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Format Creation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-warning">
                        <strong>Please!</strong> Fill All Fields Before Submit.
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="fill_OK_btn" type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="compltedD3CreationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Format Creation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    You have successfully created D3 format.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="waitD3RowCreationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Record Creation</h4>
                    <button type="button" class="close">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    You have to wait Please!
                </div>

                <!-- Modal footer -->
                <!--div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div-->

            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center modalWrapper">
        <div aria-hidden="true" aria-labelledby="modalAdd" class="modal fade addNewInputs" id="modalAdd" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add New Data</h4>
                        <button aria-label="Close" class="close text-primary" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3" id="d3_row_create_body">
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Roll No</label>
                            <input class="form-control validate" id="inputRollNo" type="number">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Enrollment No</label>
                            <input class="form-control validate" id="inputEnrollmentNo" type="number">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Exam Seat No</label>
                            <input class="form-control validate" id="inputExamSeatNo" type="number">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Name of Student</label>
                            <input class="form-control" id="inputNameofStudent" type="text">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                        <button id="add_row" class="btn btn-outline-primary btn-block buttonAdd">Add
                            <i class="fas fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Editable table -->
<button id="go_back_home" class="btn btn-outline-info float-right m-4 font-weight-bold">Go Back Home</button>
<button id="print_preview" class="btn btn-outline-info float-right m-4 font-weight-bold">Print Preview</button>
<script>
    // jQuery
    $ = require('jquery');
    window.$ = $;
    require('bootstrap');
    // userhome script
    require('./vw_d3')
</script>
</body>
</html>