<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View / Edit D12</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../bower_components/font-awesome/css/all.min.css" rel="stylesheet">
</head>
<body>
<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editing D12</h3>
    <div class="card-body">
        <div class="table-editable" id="table">
            <div class="row">
                <div class="col text-center font-weight-bold">Maharashtra State Board of Technical Education</div>
            </div>
            <div class="row">
                <div class="col text-center font-weight-bold">DETAILS OF CO-CURRICULAR ACTIVITY</div>
            </div>
            <div class="row" style="padding-top: 10vh">
                <div id="academicV" class="col is-left">Academic Year:</div>
            </div>
            <div class="row" style="padding-bottom: 2vh">
                <div id="programV" class="col">Program:</div>
            </div>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Type of Activity &amp; Details (Paper Presentation/Project/Quiz/etc.)</th>
                    <th>Date</th>
                    <th>Name of Participating</th>
                    <th>Organizing Body And Organizing Institute</th>
                    <th>Awards (Winner/Participation)</th>
                    <th>Level (State/National/etc.)</th>
                    <th>Relevance to PEO's/PO's/CO's with Course Code (only nos.)</th>
                </tr>
                </thead>
                <tbody id="et_d1_tbl_body">
                </tbody>
            </table>
            <span class="table-add float-right mb-3 mr-2" id="add_new_row">
                <a class="text-success" data-toggle="tooltip" title="Create New Row" href="#!">
                  <i aria-hidden="true" class="fas fa-plus fa-2x"></i>
                </a>
            </span>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="impFieldModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Format Creation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-warning">
                        <strong>Please!</strong> Fill All Fields Before Submit.
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="fill_OK_btn" type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="compltedd7CreationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Format Creation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    You have successfully created D12 format.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Creating D12 Format</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Template Name:</label>
                        <input type="text" id="format_name" class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Academic Year:</label>
                        <input type="text" id="academic_year" class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Program:</label>
                        <input type="text" id="program" class="form-control validate">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="create_d7" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center modalWrapper">
        <div aria-hidden="true" aria-labelledby="modalAdd" class="modal fade addNewInputs" id="modalAdd" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add New Data</h4>
                        <button aria-label="Close" class="close text-primary" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Type of Activity & Details (Paper Presentation/Project/Quiz/etc.)</label>
                            <input class="form-control validate" id="inputNoIAndCoD" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Date</label>
                            <input class="form-control validate" id="inputDoT" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Name of Participating</label>
                            <input class="form-control validate" id="inputDoTS" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Organizing Body And Organizing Institute</label>
                            <input class="form-control" id="inputOB" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Awards (Winner/Participation)</label>
                            <input class="form-control" id="inputAW" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Level (State/National/etc.)</label>
                            <input class="form-control" id="inputLe" type="text">
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Relevance to PEO's/PO's/CO's with Course Code (only nos.)</label>
                            <input class="form-control" id="inputRe" type="text">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                        <button id="add_row" class="btn btn-outline-primary btn-block buttonAdd" data-dismiss="modal">Add
                            <i class="fas fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Editable table -->
<button id="go_back_home" class="btn btn-outline-info float-right m-4 font-weight-bold">Go Back Home</button>
<button id="print_preview" class="btn btn-outline-info float-right m-4 font-weight-bold">Print Preview</button>
<script>

    $ = require('jquery');
    window.$ = $;
    require('bootstrap');
    require('./vw_d12')
</script>
</body>
</html>