<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D2 Print Preview</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .row{
            display:flex;
            justify-content:flex-start;
            align-items:stretch;
            flex-wrap:nowrap;
            padding:10px;
        }
        .cell{
            min-height:30px;
            flex-grow:1;
            flex-basis:100%;
        }
        @media (max-width: 768px){
            .row{
                flex-wrap:wrap;
            }
        }
    </style>
</head>
<body>
<div class="card-body">
    <div class="table-editable" id="table">
        <div class="row">
            <div class="col text-right font-weight-bold">D2</div>
        </div>
        <div class="row">
            <div class="cell">For AICTE Diploma Courses</div>
            <div class="cell" style="margin-left: 40vw">wef - 2017-18</div>
        </div>
        <div class="row">
            <div class="col text-center font-weight-bold">Maharashtra State Board of Technical Education</div>
        </div>
        <div class="row">
            <div class="col text-center font-weight-bold">LABORATORY ASSIGNMENT/SHEET/JOB/PROJECT ACTIVITY PLANNING(LP)</div>
        </div>
        <div class="row" style="padding-top: 10vh">
            <div id="academicV" class="col is-left">Academic Year:</div>
        </div>
        <div class="row">
            <div id="programV" class="col">Program:</div>
            <div id="courseV" class="col">Course:</div>
            <div id="course_cV" class="col">Course Code:</div>
        </div>
        <div class="row" style="padding-bottom: 2vh">
            <div id="semesterV" class="col">Semester:</div>
            <div id="name_falV" class="col">Name of Faculty:</div>
        </div>
        <div class="row">
            <div class="col text-center">Batch A / B / C</div>
        </div>
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead aria-rowspan="2">
            <tr>
                <th rowspan="2">Sr. No</th>
                <th rowspan="2">CO</th>
                <th rowspan="2">PrO</th>
                <th rowspan="2">Name of Experiment/Assignment/Sheet/Job/Project Activity</th>
                <th colspan="2">Planned date</th>
                <th rowspan="2">Actual Date</th>
                <th rowspan="2">Remark</th>
            </tr>
            <tr>
                <th>From</th>
                <th>To</th>
            </tr>
            </thead>
            <tbody id="et_d1_tbl_body">
            </tbody>
        </table>
        <div id="tbl_last" class="row" style="padding-top: 5vh">
            <div class="cell font-weight-bold" style="text-align: center">(Name &amp; Signature of Faculty)</div>
            <div class="cell font-weight-bold" style="text-align: center">(Name &amp; Signature of HOD)</div>
        </div>
        <span class="table-add float-right mb-3 mr-2" id="add_new_row">
                <a class="text-success" data-toggle="tooltip" title="Create New Row" href="#!">
                  <i aria-hidden="true" class="fas fa-plus fa-2x"></i>
                </a>
            </span>
    </div>
</div>

<script>

    // jquery
    $ = require('jquery');
    require('./pr_d2');
</script>
</body>
</html>